.doctors_section_h {
    height: 40px;
    width: 100%;
    /*background-color: antiquewhite;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.doctors_btn_gr {
    /*background-color: coral;*/
    /*width: 400px;*/
    display: flex;
    justify-content: space-around;
}

.doctors_btn_main_page {
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    background-color: cornsilk;
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 700;
}

.doctors_btn_main_page:hover{
    box-shadow: 6px 8px 4px 2px rgba(0, 0, 255, .2);
}


.doctors_btn{
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    background-color: cornsilk;
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 700;
    margin-right: 10px;
}

.doctors_btn:hover{
    box-shadow: 6px 8px 4px 2px rgba(0, 0, 255, .2);
}

.doctors_section_b {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*Форма новой врача*/
.doctors_h {
    font-size: 30px;
    color: black;
    font-weight: 800;
    margin-bottom: 40px;
}

.doctors_list {
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
}
.doctors_el {
    text-decoration: none;
    color: black;
    font-weight: 600;

}

/*Форма новой процедуры*/
.doctors_section_f {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_new_prc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
}

.form_new_doctor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.doctors_label{
    margin-top: 10px;
    color: black;
    font-weight: 800;
}

.doctor_input {
    border: 1px solid black;
    height: 30px;
    border-radius: 5px;
    width: 300px;
}

.doctor_input_select {
    border: 1px solid black;
    height: 60px;
    border-radius: 5px;
    width: 300px;
}
.doctor_input_btn {
    margin-top: 10px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: cornsilk;
    color: black;
    font-weight: 700;

}

.doctor_input_btn:hover {

    /* Свойство отвечающее за формирование тени
   8px - отступ по оси Х
   10px - отступ по оси Y
   5px - радиус размытия тения
   2px - радиус распространения
   rgba - функция формирующая цвет тени
  */

    box-shadow: 6px 8px 4px 2px rgba(0, 0, 255, .2);

}


/*Стили для страницы врача*/
.doctors_section_l {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
